<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
  <add name="SAP_RG" connectionString="Data Source= 181.176.187.68\BDNISIRA; Initial Catalog=SAP_RG;User ID=sa;Password=amadeus2010"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>