<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
  <add name="PRESUPUESTO" connectionString="Data Source= 68.168.108.52; Initial Catalog=EVALUACION;User ID=adminsanjose;Password=S@nJose.asj"
      providerName="System.Data.SqlClient" />

   <!--<add name="PRESUPUESTO" connectionString="Data Source= 181.176.187.68\BDNISIRA; Initial Catalog=PRESUPUESTO;User ID=sa;Password=amadeus2010"
  providerName="System.Data.SqlClient" />-->
    
    <add name="NISIRA" connectionString="Data Source=181.176.187.68\BDNISIRA; Initial Catalog=AGRICOLA2017;User ID=sa;Password=amadeus2010"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>